*{
	margin:0;
	padding:0;
}
body{
	
	font-family:sans-serif;
}
#navbar-Nav{
	
	float:right;
	
}
.nav-item{
	
	margin-left:20px;
	
}
.fa-solid{
	float:right;
}
#nav-bar{

	
	
}

#nav-bar a:hover{
	
	background-color: #08916D ;

}
a{
	
	text-decoration:none;
}
.navbar-nav{
	
	margin-left:10px;
}

img{
	
	height:40px;
	padding-left:5px;
}
.box{
	
	height:30px;
	padding:0px;
	
}
.navbar-nav li{
	
	padding:0px 5px;
}
.navbar-nav li a{
	
	color:#fff;
}
#nav-bar{
	
	background-image: linear-gradient(to right,#a517ba,#5f1782);
}
.navbar{
		
	background-image:linear-gradient(to right,#a517ba,#)
	
}


/*----------------------------------------------------------------*/
#banner{
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	color:#fff;
	padding-top:5%;
	
	
}
h3{
	
	font-size:30px;
	margin-top:30px;
}
p{
	font-size:10px;
}
.play img{
	
	margin-bottom:5px;
	border-radius:30px;
	border-color:#a517ba;
}

	
}
.bottom-img{
	
	width:100%;
}
.cc{
	
	text-align:justify;
}
.cc h4{
	text-align:center;
}
/*---------------------Services--------------------------*/
#services{
	
	margin-top:20px;
}
.services{
	
	padding:20px;
}
.service-img{
	
	height:200px;
	width:200px;
}
.services h4{
	
	padding:5px;
	margin-top:20px;
	text-transform:uppercase;
	font-size:20px;
}
.title:before
{
	content:'';
	background-color:#7b1798;
	height:3px;
	width:200px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	transform:translatey(42px);
	
}
.title:after
{
	content:'';
	background-color:#7b1798;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	
	margin-bottom:30px;
	
}
#services .btn-primary{
	box-shadow:none;
	padding:8px 25px;
	border:none;
	border-radius:20px;
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	margin-bottom:30px;
	
}

/*---------------------------About Us-------------------------------------*/

#about{
	
	font-size:12px;
	color:#7A06BC;
}


/*-------------------------------testimonial------------------------------*/
.page{
	
	text-align:left;
	margin-left:80px;
}
.testimonial{
	

	margin-top:50px;
	margin-bottom:50px;
	
}
.testimonial img{
	
	height:80px;
	width:80px;
	border-radius:20px;
	margin:0 10px;
	
}

/*               social Medi               */

#social-media{
	
	background-color:#f8f9fa;
	padding:100px 0;
	
}
#social-media p{
	
	font-size:30px;
	font-weight:600
	margin-bottom:30px;
	
	
}
.social-icons{
	
	
	transition:0.5s;
	
}
.social-icons a:hover img{
	
	transform:translatey(-10px);
	
}


